<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
</head>
<body>
    <div class="max-w-[1000px] mx-auto items-center">
        <div class="bg-[transparent] p-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, officia natus? Sint maxime nostrum iste earum dicta dolore quam asperiores, amet laborum fuga consequatur aspernatur, aperiam delectus in vero. Alias necessitatibus debitis in, error iusto magni dolor blanditiis veritatis similique iure praesentium. Totam fuga fugit quo! Sunt libero ratione voluptas est vel iusto animi maiores blanditiis minus quisquam impedit, nostrum accusantium corporis culpa aspernatur velit laborum dolorum perspiciatis suscipit, modi deleniti deserunt. Quam quibusdam eveniet, earum sunt accusamus modi explicabo voluptates sit, quae magnam quos sapiente iste tempore ducimus tenetur sequi aspernatur minima nostrum. Nemo suscipit libero itaque repellendus sunt?</p>
        </div>
    </div>
</body>
</html>